<div class="user-card">
    <% if user.photo.present? && user.photo != '#'%>
  <%= image_tag user.photo %>
<% else %>
  <%= image_tag 'icons/icons8-user-60.png' %>
<% end %>
    <div class="stats">
        <h3><%= user.name %></h3>
        <p>Number of posts: <%= user.posts_counter %></p>
    </div>
</div>