<% if current_user == @post.author || current_user.is?(:admin) %>
  <div class="button delete-post">
    <%= button_to('Delete post', delete_post_user_post_path(user_id: @post.author.id, id: @post.id), method: :delete, data: { confirm: 'Are you sure?' }) %>
  </div>
<% end %>

