* {
  margin: 0;
  pad: 0;
}

li {
  list-style: none;
}

/* Start UserCard */
.user-card {
  border: solid green 1px;
  display: flex;
  gap: 5px;
}

.user-card .stats {
    display: flex;
    gap: 20px;
}
