* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

/* ----- Start User page ----- */

/* ----- End User page----- */

/* ----- Start UserCard ----- */
.user-card {
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  min-height: 100px
}

.user-card img {
  height: 80px;
  width: 80px;
  border: solid 2px black;
}

.user-card .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    border: 2px solid gray;
    width: 75%;
    height: 80px;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.stats h3 {
  font-size: 200%;
}

.user-card .stats p {
  align-self:flex-end;
}
/* ----- Ends UserCard ----- */
/* ----- Start Post Card ----- */
.post-card {
    display: flex;
    flex-direction: column;
}

.post-card .stats {
    display: flex;
    gap: 5px;
    justify-self: end;
}
/* ----- Ends Post Card ----- */


