<div class="comments-box">
    <ul>
        <% post.comments.each do |comment| %>
            <li>
            <p>
                <%= post.author.name%>: <%= comment.text %>
            </p>        
            </li>
        <% end %>
    </ul>
</div>