<div class="comments-box">
    <ul>
        <% comments.each do |comment| %>
            <li>
            <p>
                <%= comment.user.name%>: <%= comment.text %>
            </p>       
            <%if current_user == comment.user || current_user.is?(:admin)%>
                <div class="button delete-comment">
                    <%= button_to "Remove", delete_comment_user_post_path(comment.user, comment.post, comment_id: comment.id), method: :delete, data: { confirm: "Are you sure?" } %>
                </div>
            <%end%>
            </li>
        <% end %>
    </ul>
</div>